on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

name: Check markdown links
jobs:
  my-broken-link-checker:
    name: Check broken links
    runs-on: ubuntu-latest
    steps:
      - name: Check for broken links
        uses: ruzickap/action-my-broken-link-checker@v3
        with:
          url: https://neves-p.github.io/docs/
          cmd_params: "--max-connections=3 --color=always" 
